# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Django
*.log
*.pot
*.pyc
*.mo
*.db
*.sqlite3

# Virtual environments
venv/
env/

# Secret files
.env
.env.*

# VS Code
.vscode/

# OS-specific
.DS_Store
Thumbs.db
