{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
    <h2>Create Google Ad Activity</h2>
    <form method="post">
        {% csrf_token %}
        
        <select name="name" id="name" class="form-select" required>
            <option value="quiz_start">Quiz_take</option>
            <option value="quiz_result">View Quiz Results</option>
            <option value="quiz_review">Review Quiz (Non-Premium)</option>
            <option value="game_over">Game Over Screen</option>
            <option value="level_up">Level Up Screen</option>
        </select>
        
    </form>
</div>
{% endblock %}
